*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/example/weatherforecastapp/data/network/API_KEYS.kt
/app/src/main/java/com/samriddha/weatherforecastapp/data/network/API_KEYS.kt
